.movie_card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 520px;
    margin: 10px;
    padding: 0;
    box-shadow: 4px 4px 5px 2px rgb(122, 122, 122);
}

.title h1{
    margin: 0;
    padding: 0 40px;
    font-size: 1.1rem;
}

.genres {
    font-size: 0.8rem;
    margin: 5px;
}

.genres span {
    background-color: rgb(189, 189, 189);
    padding: 2px;
    margin-right: 3px;
    border-radius: 5px;
}

.summary {
    padding: 0 20px;
    font-size: 0.9rem;
    overflow: hidden;
}